
<div class='large-12 blue columns'>
  <div class='row'>
    <h2>Hello <%=current_user.name%> </h2> 
    <a href="#eventform" class=' button primary medium'> Create A New Event</a>
  </div>
  <% current_user.events.each do |event| %>
  <% if event.upcoming? %>
  <div class='row'>
    <%= link_to event.name.titleize, event_path(event) %> <%= event.date %>
  </div>  
  <% end %>
  <% end %>
  <%= render 'events/create_event_form' %>
</div>




