<div class='large-12 blue wrapper columns'>
  <div class='row'>
    <div class='large-12 panel white user-show columns'>
     <% if current_user %>
     <%= render 'show_events' %>
     <%else%>
     <%= render 'guest' %>
     <%end%>
   </div>
 </div>
</div>
