<div class='large-12 wrapper columns dark'>
  <div class='row'>
    <div class='large-12 user-show columns'>

      <% if current_user %>
      <%= render 'show_events' %>
            <%end%>

      <%= render 'guest' %>
      

    </div>
  </div>
</div>
