<div class='large-12 wrapper columns'>
  <div class='row'>
    <div class='large-12 user-show columns'>

      <% if current_user.nil? || current_user.guest %>
      <%= render 'guest' %>
      <%else%>
      <%= render 'show_events' %>

      <%end%>
    </div>
  </div>
</div>
