<div class='row '>

  <h3 class='subheader'><span class='grey'>Choose A Header Image </span></h3>
  <div class='image-upload border-top'>

    <%= form_for @event, :html => { :multipart => true,  :id => "form_id" } do |form| %>
    <%= form.file_field :image, :class => "image-field" %>
    <%= form.submit "Update", :id => 'upload_pic', "data-bind"=>"click: submitPhoto"%>
    <% end %>

  </div>
</div>
