<div class='row '>
    <h3 class='subheader'><span class='grey'>Choose A Header Image </span></h3>
    <div class='image-upload border-top'>
      <div class='large-3 columns'>
        <%= e.file_field :image, :class => "image-field" %>
      </div>
    </div>
  </div>
  