-# %h2
-#   Your seat reservations (
-#   %span{"data-bind" => "text: seats().length"}>
-#   )
-# %table
-#   %thead
-#     %tr
-#   %tbody{"data-bind" => "foreach: seats"}
-#     %tr
-#       %td
-#         %input{"data-bind" => "value: name", "class" => 'large', 'placeholder' => "Event Type"}/
-#       %td
-#         %select{"data-bind" => "options: $root.availableMeals, value: meal, optionsText: 'mealName'"}
-#       %td{"data-bind" => "text: formattedPrice"}
-#       %td
-#         %a{"data-bind" => "click: $root.removeSeat", href: "#"} Remove
-# %button{"data-bind" => "click: addSeat, enable: seats().length < 5"} Reserve another seat
-# %h3{"data-bind" => "visible: totalSurcharge() > 0"}
-#   Total surcharge: $
-#   %span{"data-bind" => "text: totalSurcharge().toFixed(2)"}

.row
  .large-4.columns
    %input{"data-bind" => "value: title", "class" => 'large', 'placeholder' => "Event Type"}
  .large-4.columns
    %input{"data-bind" => "value:date", "class" => 'large', 'placeholder' => "Date"}
  .large-2.columns
    %input{"data-bind" => "value: start_time", "class" => 'large', 'placeholder' => "Start Time"}
  .large-2.columns
    %input{"data-bind" => "value: end_time", "class" => 'large', 'placeholder' => "End Time"}