.row
  .large-10.columns{:id => 'items'}
    %table
      %thead
        %tr 
          %th{width: ""} Name
          %th Description
          %th Quanity Requested
      %tbody{"data-bind" =>"foreach: items"}
        %tr
          %td{"data-bind" => "text:name" }
          %td{"data-bind" => "text:description" }
          %td
            %input{'data-bind' => 'text:quantity, type: text, value: quantity'}
  .large-12.columns
    .button Hello

