.row
  .large-10.columns{:id => 'items'}
    %table
      %thead
        %tr 
          %th{width: ""} Item
          %th Quantity
          %th Notes
          %th You're bringing
      %tbody{"data-bind" =>"foreach: items"}
        %tr
          %td{"data-bind" => "text:name" }
          %td{"data-bind" => "text:quantity" }
          %td{"data-bind" => "text:description" }
          %td
            %input{'data-bind' => 'text:amountToBring, type: text, value:amountToBring'}

/ ko with: $root.guest     
.row    
  .large-12.columns
    .large-4.columns
      %label 
        Email
      %input{'data-bind' => 'text:guestEmail, type: text, value:guestEmail'}
    .large-4.columns.left  
      %label 
        Name
      %input{'data-bind' => 'text:guestName, type: text, value:guestName'}
    .large-4.columns
      %button{"class" => "left", "type"=>"submit", "data-bind" => "click: addGuest"}
        Save
//ko
