.row
  .large-10.columns{:id => 'items'}
    %table
      %thead
        %tr 
          %th{width: ""} Item
          %th Quantity
          %th Notes
          %th  
          %th  
          %th  
      %tbody{"data-bind" =>"foreach: items"}
        %tr
          / %td{"data-bind" => "text:amountPromised" }
          %td{"data-bind" => "text:name" }
          %td{"data-bind" => "text:quantity" }
          %td{"data-bind" => "text:description" }
          %td{}+
          %td{"data-bind" => "text:amountToBring" }
          %td{}-