<div class='large-12 blue columns'>
	<div class=' row'>
		<div class='large-12 new-event white columns'>
			<h1 class='center subheader'><span class='grey'>Edit <%= @event.name%></span></h1>
			<h3 class='subheader'><span class='grey'>Edit Event Details </span></h3>
			<div class='event-list'>
				<div class='event_details'>
					<%= render 'create_event_form' %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class='footer'>
	<%= link_to 'Delete This Event' , @event, :confirm =>
	"Are you sure you want to delete your event?", :method => :delete %>
</div>