.id
  =@event.id
/ ko with: currentEvent
.columns.large-10.dark.background{"data-bind" => "style: backgroundImage"}
  .cover-info
    %h1{'data-bind' => "text:name, visible: !$root.editingText()"}
    %input{:class => 'title-input', 'data-bind' => 'text:name, type: text, visible: $root.editingText(), value: name'}
      %br
      %br
      %br
    .row.center   
      %a{:href => '#details', 'class' => 'default_button'}>RSVP 
.dark{:id => "sticky-anchor"}
.editing_panel_container{:id => "sticky"}
  %a{:class => "icon_label_style", :href => "#", :style =>"color:#C10033", "data-reveal-id" =>"imageUpload"}
    .icon_container.change_photo
      %span{:class => 'icon_text_rollover'}Change Image
  %a{:class => "icon_label_style", :href => "#items", :style =>"color:#ED9432", "data-bind" => "click: $root.editItems"}
    .icon_container.edit_items
      %span{:class => 'icon_text_rollover'}Edit Items
  %a{:class => "icon_label_style", :href => '#', :style =>"color:#27C10E", "data-bind" => "click: $root.editDetails"}
    .icon_container.edit_details
      %span{:class => 'icon_text_rollover'}Edit Details
  /.icon_container.save_event{"data-bind" => "click: $root.saveEvent"}
  /  %p{:class => 'icon_text'}Save
  %a{:class => "icon_label_style", :href => '#', :style =>"color:#0F39D3", "data-bind" => "click: $root.saveEvent"}
    .icon_container.save_event
      %span{:class => 'icon_text_rollover'}Save
  / .panel
  /   %span
  /   Cancel  
  / .panel
  /   %span
  /     %a{:href => '#items'}Edit Carpool

/ .dark
.details.large-10.columns{:id => 'details'}
  .details-left.large-5.columns
    %p.default_label
      Hosted by
      %span{'data-bind' => "text:host_name"}
    %p{'class' => 'default_label' , 'data-bind' => "html:description, visible: !$root.editingText()"}
    %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
      Description
      %textarea{'class' => 'default_input', 'data-bind' => 'text:description, type: text, visible: $root.editingText(), value: description'}

  .details-right.large-5.columns
    .date-box.default_label
      %span{'data-bind' => "text:date, visible: !$root.editingText()  "}
      %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
        Date
        %input{'class' => 'dark default_input', 'data-bind' => 'text:date, type: text, visible: $root.editingText(), value: date'}
      %br
      %span{'data-bind' => "text:start_time, visible: !$root.editingText()"}
      %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
        Start Time
        %input{'class' => 'dark default_input', 'data-bind' => 'text:start_time, type: text, visible: $root.editingText(), value: start_time'}
        %span{'data-bind' => "visible: end_time"}  
          until  
      %span{'data-bind' => "text:end_time, visible: !$root.editingText()"}
      %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
        End Time
        %input{'class' => 'dark default_input', 'data-bind' => 'text:end_time, type: text, visible: $root.editingText(), value: end_time'}
      %br
      %span{'data-bind' => "text:location, visible: !$root.editingText()"}
      %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
        Address
        %input{'class' => 'dark default_input', 'data-bind' => 'text:location, type: text, visible: $root.editingText(), value: location'}
      %br
      %span{'data-bind' => "text:city, visible: !$root.editingText()"},
      %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
        City
        %input{'class' => 'dark default_input', 'data-bind' => 'text:city, type: text, visible: $root.editingText(), value: city'}
      %span{'data-bind' => "text:state, visible: !$root.editingText()"}
      %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
        State
        %input{'class' => 'dark default_input', 'data-bind' => 'text:state, type: text, visible: $root.editingText(), value: state'}
      %br

      %span{'data-bind' => "text:zip, visible: !$root.editingText()"}
      %label{'data-bind' => "visible: $root.editingText()", "class" => "default_label"}
        Zip Code
        %input{'class' => 'dark default_input', 'data-bind' => 'text:zip, type: text, visible: $root.editingText(), value: zip'}


.dark.items{"data-bind" => "visible:$root.editingItems()"}
  = render 'edit_event_items'

.dark.items{"data-bind" => "visible:!$root.editingItems()"}
  = render 'show_event_items'

/ /ko
#imageUpload.reveal-modal.large{style: "display: none"}
  = render 'events/add_image'