.id
  =@event.id
/ ko with: currentEvent
.columns.large-10.background{"data-bind" => "style: backgroundImage"}
  .cover-info
    %h1{'data-bind' => "text:name, visible: !$root.editingText()"}
    %input{:class => 'title-input', 'data-bind' => 'text:name, type: text, visible: $root.editingText(), value: name'}
      %br
      %br
      %br
    .row.center   
      %a{:href => '#details', :class => 'rsvp-btn'}>RSVP 
.editing-panel.large-2.columns
  .panel
    %span
      %a{:href => '#items'}Add Items
  .panel
    %span
      %a{"data-reveal-id" =>"imageUpload", :href =>"#"}>Change Photo  
  .panel{:id => "save"}
    %span
      %a{:id => "editToggle", :href => '#', "data-bind" => "click: $root.toggleEdit"}Edit
  .panel
    %span
    Cancel  


.details.large-10.columns{:id => 'details'}
  .details-left.large-5.columns
    %p 
      Hosted by
      %span{'data-bind' => "text:host_name"}
    %p{'data-bind' => "text:description, visible: !$root.editingText()"}
    %textarea{'data-bind' => 'text:description, type: text, visible: $root.editingText(), value: description'}

  .details-right.large-5.columns
    .date-box
      %span{'data-bind' => "text:date, visible: !$root.editingText()  "}
      %input{'data-bind' => 'text:date, type: text, visible: $root.editingText(), value: date'}
      %br
      %span{'data-bind' => "text:start_time, visible: !$root.editingText()"}
      %input{'data-bind' => 'text:start_time, type: text, visible: $root.editingText(), value: start_time'}
      %br 
      %span{'data-bind' => "text:end_time, visible: !$root.editingText()"}
      %input{'data-bind' => 'text:end_time, type: text, visible: $root.editingText(), value: end_time'}

      %span{'data-bind' => "text:location, visible: !$root.editingText()"}
      %input{'data-bind' => 'text:location, type: text, visible: $root.editingText(), value: location'}
      %br
      %span{'data-bind' => "text:city, visible: !$root.editingText()"},
      %input{'data-bind' => 'text:city, type: text, visible: $root.editingText(), value: city'}
      %span{'data-bind' => "text:state, visible: !$root.editingText()"}
      %input{'data-bind' => 'text:state, type: text, visible: $root.editingText(), value: state'}
      %br

      %span{'data-bind' => "text:zip, visible: !$root.editingText()"}
      %input{'data-bind' => 'text:zip, type: text, visible: $root.editingText(), value: zip'}

.row
  .large-10.columns
    %table
      %thead
        %tr 
          %th
          %th{width: ""} Item
          %th Quantity
          %th Notes
      %tbody{"data-bind" =>"foreach: items"}
        %tr
          %td{"data-bind" => "text:amountPromised" }
          %td{"data-bind" => "text:name" }
          %td{"data-bind" => "text:quantity" }
          %td{"data-bind" => "text:description" }
    
/ /ko
#imageUpload.reveal-modal.large{style: "display: none"}
  = render 'events/add_image'
