.large-12.columns.default_screen_height.dark
  / ko with: newEvent
  %form{"data-bind" => "submit: $root.addEvent"}
  .fieldset.default_margin
    .row
      .large-4.columns
        %label{"class" => "default_label"}
          Title
          %input{"class" => "default_input dark", "data-bind" => "value: name", "type" => "text", 'placeholder' => "4th of July Party!", "type" => "text"}
      .large-4.columns
        %label{"class" => "default_label"} 
          Host
          %input{"class" => "default_input dark", "data-bind" => "value: host_name", "type" => "text", 'placeholder' => "Mary Smith"}
      .large-4.columns
        %label{"class" => "default_label"} 
          Type
          %input{"class" => "default_input dark", "data-bind" => "value: event_type", "type" => "text", 'placeholder' => "BBQ"}

    .row
      .large-4.columns
        %label{"class" => "default_label"} 
          Date
          %input{"class" => "default_input dark", "data-bind" => "value: date", "type" => "text", 'placeholder' => "July 4th, 2015"}
      .large-2.columns.left
        %label{"class" => "default_label"} 
          Start Time
          %input{"class" => "default_input dark", "data-bind" => "value: start_time", "type" => "text", 'placeholder' => "4:00pm"}
      .large-2.columns.left
        %label{"class" => "default_label"} 
          End Time
          %input{"class" => "default_input dark", "data-bind" => "value: end_time", "type" => "text", 'placeholder' => "12:00am"}

    .row
      .large-4.columns
        %label{"class" => "default_label"}
          Location
          %input{"class" => "default_input dark", "data-bind" => "value: location", "type" => "text", 'placeholder' => "Golden Gate Park"}
      .large-3.columns
        %label{"class" => "default_label"}
          Street Address
          %input{"class" => "default_input dark", "data-bind" => "value: street_address", "type" => "text", 'placeholder' => "1000 John F Kennedy Dr."}
      .large-2.columns
        %label{"class" => "default_label"}
          City
          %input{"class" => "default_input dark", "data-bind" => "value: city", "type" => "text", 'placeholder' => "San Francisco"}
      .large-1.columns.left
        %label{"class" => "default_label"}
          State
          %input{"class" => "default_input dark", "data-bind" => "value: state", "type" => "text", 'placeholder' => "CA"}
      .large-2.columns.left
        %label{"class" => "default_label"}
          Zip Code
          %input{"class" => "default_input dark", "data-bind" => "value: zip", "type" => "text", 'placeholder' => "94117"}

    .row
      .large-12.columns
        %label{"class" => "default_label"}
          Details
          %textarea{"data-bind" => "value: description", 'placeholder' => "Information about this event..."}
    .row
      .large-12.columns    
        %button{ "class" => "right default_button new_event_save_button", "type"=>"submit", "data-bind" => "click:$root.save"}
          Save
  / /ko"id" => "new_event_save_button"

