  <div class='large-12 blue columns'>
    <div class=' row'>
      <div class='large-12 new-event white columns'>
        <h1 class='center subheader'><span class='grey'>Your Event</span></h1>
       <h3 class='subheader'><span class='grey'>Add Event Details </span></h3>
       <div class='event-list border-top'>
        <div class='event_details'>
          <%= render 'create_event_form' %>
        </div>
      </div>
    </div>
  </div>
</div>