<div class="full-width blue">
	<div class='row'>
		<div class="large-12 columns large-centered info-box">
			<div class='border small-4 columns'> <img src=<%= asset_path("104_white.png") %></div> 
			<div class='border small-4 columns'> <img src="/assets/103_white.png"></div> 
			<div class='border small-4 columns'> <img src="/assets/172_white.png"></div>
		</div>	
	</div>


		<div class='row'>
			<div class="large-12 columns center large-centered text-box">
				<h1 class="subheader"><span class='white'>Connect with the people you already know.</span></h1>
				<p><span class='white'> There are endless online tools that help you connect with your friends online. But what about when you want to meetup for a picnic, a game night or an impromptu dinner? Right now you either need to pay for and provide everything, start an endless email chain or try to decipher a messy spreadsheet. </span></p>
				<p><span class='white'> We want to change that. Sign up, create an event, request items and send the invitation. All you need to worry about is fun.</span></p>
			</div>
		</div>
	</div>


<div class='color-space'></div>

<div class='large-12 columns'>
	<div class='row'>
		<div class='large-3 columns green circle'>
			<img src="/assets/163_small_white.png">
			<p>Create an event and request items for your guests to bring. </p>
		</div>


		<div class='large-3 columns ltblue circle'>
			<img src="/assets/144_small_white.png">
			<p>Invite your friends the ways you always have.</p>
		</div> 

		<div class='large-3  columns yellow circle'>
			<img src="/assets/1_small_white.png">
			<p>Privacy is a priority. Guests don't need to signup.</p>
		</div> 


		<div class='large-3 columns pink circle'>
			<img src="/assets/143_small_white.png">
			<p>Track contributions online. You can add items anytime. </p>
		</div> 
	</div>
</div>



