<div class="full-width blue">
	<div class='row'>
		<div class="large-12 columns large-centered info-box">
			<div class='border small-4 columns'> <img src="/assets/104_white.png"></div> 
			<div class='border small-4 columns'> <img src="/assets/103_white.png"></div> 
			<div class='border small-4 columns'> <img src="/assets/172_white.png"></div>
		</div>	
	</div>

	<div class="small-6 small-centered columns">
		<div class='row'>
			<div class="large-12 columns large-centered text-box">
				<h1 class="subheader">Never worry about messy spreadsheets again.</h1>
				<p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap <strong> around type to <strong>make it bold!</strong>. You can also you <em> to <em>italicize your words</em>.</p>
			</div>
		</div>
	</div>
</div>

<div class='color-space'></div>

<div class='large-12 columns green circle'>
	<div class='row'>
		<div class='large-3 columns green circle'>
			<img src="/assets/163_small_white.png">
	   <p>Make party planning easy. Needs a litte more spacing.</p>
		</div>

		<div class='large-3 columns ltblue circle'>
			<img src="/assets/144_small_white.png">
			<p>LIke way more words and spacing. Words. Words. Make party planning easy.</p>
		</div> 

		<div class='large-3  columns yellow circle'>
			<img src="/assets/1_small_white.png">
			<p>Make party planning easy.</p>
		</div> 


		<div class='large-3 columns pink circle'>
			<img src="/assets/143_small_white.png">
			<p>This says sooo much stuff. Make party planning easy.</p>
		</div> 
	</div>
<div>



		<div id="myModal" class="reveal-modal">
			<%= render 'layouts/login_buttons' %>
			<%= render 'users/login_form' %>
		</div>