/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


/*
#568cce
#83ca41
E1B948
#ffe69c yellow
C7406D pink
7BC0C4 green blue
B283CB purple
#515151*/

div.cont-show{
margin-top: 3%;
}
a.dropdown{
  margin-top: 1%;
}
div.border-top{
  border-top: 2px solid #626261;
}
.active{
  display: block;
}
.hidden{
  display: none;
}
.center{
  text-align: center;
}
input.image-url{
  width: 40%;
}
.image-field{
 text-decoration: none;
 font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 border: none;
 padding-bottom: 15px;
 font-size: 18px;
}

div.main-details{
  margin-bottom: 3%;
}
div.new-buttons{
  margin-top: 3%;
  margin-bottom: 2%;
}
ul.no-style{
  list-style-type: none;
}
div.image-upload{
  padding: 2%;
}
div#eventform {
  margin-top: 3%;
  padding: 1%;
}

div.new-event{
  margin-top: 3%;
  margin-bottom: 3%
}

div.wrapper{
  height: 100%;
}

span.grey{
  color: #626261;
}
div.new-event-outer{
    text-align: center;
    margin-bottom: 4%;
}
a.new-event{
  background-color: #83ca41;
  margin-top: 15px;
  text-decoration: none;
  padding: 16px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 18px;
}
h3.center{
  margin-top: 6%;
  margin-bottom: 6%;
  text-align: center;
}
h1.center{
  margin-bottom: 6%;
  text-align: center;
}

img.header {
  width: 100%;
  height: 100%;
}

h1.event-image-title{
  color: white; 
  text-shadow: black 0.1em 0.1em 0.2em;
   margin-top: -75px;
  padding-top: 0;
  padding-left: 2%;
}

div.event-header{
   display: table;
    margin: 0 auto;
}

div.event-info{
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: white;
}

div.add-item{
  line-height: 45px;
  margin-bottom: 14px;
}

.add-item a{
  margin-top: 15px;
  text-decoration: none;
  background-color: #7BC0C4;
  padding: 16px;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: white;
  font-size: 18px;
}
.event_done{
 text-decoration: none;
 font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
 border: none;
 background-color: #83ca41;
 padding: 16px;
 padding-bottom: 15px;
 color: white;
 font-size: 18px;
 padding-left: 40px;
 padding-right: 40px;

}
div.white{
  background-color: white;
}


.white h3{
  padding-left: 2%;
}

div.invite{
  border: solid black 3px;
  padding: 3%;
}
table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  padding: 3%;

}


.remove_fields{
  background-color: #cf4343;
  padding: 3px;
  color: white;
}

div.event-list{
  margin-bottom: 2%;
}
div.event-list{
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #626261;
}

div.user-show{ 
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
  margin-top: 3%;
}
body,html{
  height: 100%;
} 

footer{
  background-color: white;
  width: 100%;
  bottom: 0px;
}

div.greeting{
  padding: 5%;
}


div.circle {
  text-align: center;
  vertical-align: middle;
}
.named img {
  padding-top: 7px;
  margin-left: 8px;
  
}

span.white{
  color: white;
}

.named a{
  color: black;
  font-size: 28px;
  font-weight: 100;
  text-align: center;
  line-height: 80px;
  font-family: Helvetica;
}

div.white-panel{
  background-color: white;
  padding: 5%;
  text-align: center;
  margin-top: 3%;
}

.circle{
  margin-bottom: 3%;
}

.circle > img{
  border-radius: 50%;
  vertical-align: middle;
  padding: 5px;
  margin-bottom: 5%;

  
}
.green img{
  background-color: #83ca41;
}

.ltblue > img{
  background-color: #7BC0C4;
}

.pink > img{
  background-color: #CF4343;
}

.yellow > img{
  background-color: #E1B948;
}

div.text-box{
  padding-bottom: 5%;
}

.logo a{
  font-weight: 100;
}

div.border {
  padding-top: 30px;
  padding-bottom: 20px;  
  text-align: center;
  vertical-align: middle;
}    

div.color-space{
  height: 15px;
  background-color: #cf4343;
  width: 100%; 
  margin-bottom: 3%;
}


div.blue{
  background-color: #71b3ed;
  padding-top: 0px;
  margin-top: 0px;
}


div.full-width { width: 100%; 
  max-width: 100%; 
}

div.facebook-button{
  background-color: #3B5999;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  color: #5a5a5a;
  width: 220px;
}

.facebook-button a{
  color: white 
}

.login-button a{
  color: white 
}

div.login-button{
  background-color: #ff4500;
  height: 45px;
  margin-bottom: 10px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: white;
  width: 220px;
  color: #5a5a5a;

}
