/*
#568cce
#83ca41
E1B948
#ffe69c yellow
C7406D pink
7BC0C4 green blue
B283CB purple
#515151*/

details.a {
  text-decoration: underline;
}
select {
  border-radius: 0px;
-webkit-appearance: none;
border-color: #71b3ed;
}
div.background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 70%;
  min-width: 80%;
}

.date-box{
  padding: 3%;
}

.panel {
  background-color: #568cce;
  min-height: 14%;
  text-align: center;
  font-family: bold, 'Tienne', serif;
  color: white;
}
.cover-info{
  padding-top: 10%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 10%;
}

.cover-info h1{
  font-family: 'Tienne', serif;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 50px;
  margin-top: 1%;
  margin-bottom: 1%;

}
.title-input{
  font-size: 50px;
  font-family: 'Tienne', serif;
  margin-top: 1%;
  margin-bottom: 3%;
}

.rsvp-btn {
  background-color: #ce3028;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
  color: white;
  font-size: 30px;
  border-radius: 2px;
}

.details {
  margin-top: 2%;
}
.details-left {
  font-family: 'Tienne', serif;
  font-size:15px;
  color: #626261;
  padding-top: 3px;
}

.box{
   margin: 5%;
}
.details-right{
  font-family: 'Tienne', serif;
  font-size:15px;
  /*color: #626261;*/
  border: 1px solid white;
}

/* Sticky Menu bar */
.editing_panel_container {
  height: 100%;
  background-color: black;
  z-index: 10000;
}

#sticky {
    position: absolute;
    padding: 0.5ex;
    right: 0px;
    width: 70px;
    /*width: 10%;
    max-width: 100px;
    min-width: 65px;*/
    height: 100%;
    background-color: #222;
    color: #fff;
    font-size: 2em;
    border-left: 2px solid #71b3ed;
}

#sticky.stick {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10000;
}

.side_bar_pull_tab {
        position: relative;
        top: 45%;
        left: -34%;
        width: 15px;
        height: 35px;
        background-color: #222;
        cursor: pointer;
        z-index: 1000;

        border-left: 2px solid magenta;
        border-top: 2px solid magenta;
        border-bottom: 2px solid magenta;

        -ms-border-radius: 5px 0px 0px 5px;
        -webkit-border-radius: 5px 0px 0px 5px;
        -moz-border-radius: 5px 0px 0px 5px;
        border-radius: 5px 0px 0px 5px;
    }

    .side_bar_pull_tab_line {
        position: absolute;
        width: 9%;
        height: 80%;
        margin-top: 20%;
        background-color: #ccc;
    }

    /* Animate Side Bar */
    .sidebar_slide_hide {
        -ms-transition: 0.4s;
        -ms-transform: translate(85px);/*  IE 9 */

        -webkit-transition: 0.4s;
        -webkit-transform: translate(85px); /*Chrome, Safari, Opera*/

        -moz-transition: 0.4s;
        -moz-transform: translate(85px);/* firefox */

        transition: 0.4s;
        transform: translate(85px);
    }
    .sidebar_slide_hide:hover {
        -ms-transform: translate(0px); 
        -moz-transform: translate(0px);
        -webkit-transform: translate(0px); 
        transform: translate(0px);
    }
/* ICON CONTAINER/LABEL STYLING: text styling, show/hide label; */
.icon_container {
    width: 70%;
    margin-left: 15%;
    margin-right: 15px;
    margin-top: 15%;
    cursor: pointer;
    text-align: center;
}

.icon_container:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.icon_label_style {
    position: relative;
    bottom: 0px;
    font-size: 12px;
    color: white;
    text-decoration: none;
}
.icon_text_rollover {
    opacity: 0.0;
}
.icon_container:hover .icon_text_rollover{
    opacity: 1.0;
}

/* TEST STYLING: ICONS AND COLOR */
    .change_photo {
        background: url('/assets/photo_landscape_white.svg') no-repeat top left;
        background-size: contain;
    }
    .change_photo:hover {
        background: url('/assets/photo_landscape_red.svg') no-repeat top left;
        background-size: contain;
    }

    .edit_items {
        background: url('/assets/list_icon_white.svg') no-repeat top left;
        background-size: contain;
    }
    .edit_items:hover {
        background: url('/assets/list_icon_orange.svg') no-repeat top left;
        background-size: contain;
    }

    .edit_details {
        background: url('/assets/list_icon_white.svg') no-repeat top left;
        background-size: contain;
    }
    .edit_details:hover {
        background: url('/assets/list_icon_green.svg') no-repeat top left;
        background-size: contain;
    }

    .save_event {
        background: url('/assets/circle_check_white.svg') no-repeat top left;
        background-size: contain;
    }
    .save_event:hover {
        background: url('/assets/circle_check_blue.svg') no-repeat top left;
        background-size: contain;
    }