<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1 class-'logo'><a class'logo' href="/">TOO<strong>MANY</strong>CHIPS</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
    </ul>
    <ul class="right">
      <li><a href="#">Sign Out</a></li>
      <li><a class="btn" data-reveal-id="myModal" href="#">Sign In</a></li>
    </ul>
  </section>
</nav>