<div id="new_account_errors">
  <% if flash[:errors] %>
  <% flash[:errors].each do |k, v| %>
  <p class="session_errors"><%= k %>: <%= v.join(", ") %></p>
  <% end %>
  <% end %>
</div>


<div class='facebook-button'>
  <span><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%></span>
</div>
<div class='login-button'>
  <a href="#" data-reveal-id="myModal">Sign in With Email</a>
</div>
